.card-feed {}

.card-feed__title {
  font-family: "Oswald";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 120% */
  text-transform: uppercase;
}

.card-feed__link-title {}

.card-feed__image {}

.card-feed__link-image {}

.card-feed__container-text {}

.card-feed__specification-list {}

.card-feed__specification-item {
  font-family: "Lato";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #444444;
}

// .card-feed__description {
// }

// .card-feed__value {
// }

.card-feed__order-button {}
